@{
  Layout = "_Layout";
}
  <h1>Welcome to our webpage!</h1>
  <h3><a href='/vendors'>Click here</a> to view vendors</h3>
  <h3><a href='/vendors/new'>Click here</a> to fill out our vendor form</h3>

